/* styles.css */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  min-height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: white;
}

.content-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: white;
  text-align: justify;
}
